data/
*pyc
__pycache__/
.ipynb_checkpoints
.env
.vscode/
.DS_Store
Untitled-1.ipynb
mlflow.db
demographic_forecasts.egg-info/SOURCES.txt
*.png
mlruns.db
*.log
checkpoints/
*.md
mlartifacts/
notebooks/
Shapefile/
demographic_forecasts.egg-info/*
*.ipynb
examples/
*.csv
*.xlsx
*.json